/* -----------Universal CSS------------ */
body{
    margin: 0; 
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.flex-container{
    display: flex;
}
h1{
    font-weight:900;
    font-size: 3em;
}
h2{
    font-weight: 900;
    font-size: 2em;
}
h3{
    font-weight: bolder;
}
#small{
    font-size: .9em;
    color:rgb(58, 57, 57);
    margin-top: 50px;
}
#tryit{
    background-color: #fd3a5c;
    border-radius: 20px;
    color: white;
    padding: 10px 35px;
}
#signup{
    border-radius: 20px;
    padding: 10px 35px;
    border: 1px solid gray;
    color: gray;
}
.fa-check{
    color: rgba(0, 128, 0, 0.637);
}
.fa-caret-down{
    margin-left: 10px;
    /* border: 2px solid green; */
}
.fa-fire-alt, .fa-video, .fa-comment-alt, .fa-poll{
    margin-right: 15px;
    font-size: 1.8em;
}
/* --------------css for header--------------- */
header{
    display: flex;
    height: 100px;
    /* border: 2px solid blue; */
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top:0;
    z-index: 4;
}
header .image{
    width: 30%;
    display: flex;
    /* border: 2px solid #da2e4c; */
    justify-content: center;
    align-items: center;
}
header .image img{
    width: 40%;
}
nav{
    /* border: 1px solid green; */
    display: flex;
    width: 70%;
}
nav ul{
    display: flex;
    list-style-type: none;
    /* border: 2px solid tomato; */
}
nav ul li{
    margin: 10px;
    /* border: 2px solid crimson; */
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    font-weight: bold;
}
/* -------------css for main--------------- */
main{

}
.notice{
    border-top: 1px solid rgba(23,204,189,0.21);
    border-bottom: 1px solid rgba(23,204,189,0.21);
    display: flex;
    justify-content: center;
    background-color: rgba(23,204,189,0.08);
    margin-bottom: 10px;
}
.notice span{
    margin-right: 15px;
    padding: 10px;
}
.top-banner{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
    height: 600px;
}
.banner h1{
    padding-left: 45px;
    text-align: center;
}
.banner p{
    font-size: 1.5em;
    text-align: center;
}
.banner .link{
    /* border: 2px solid red; */
   height: 100px;
}
.banner .link img{
    height: 50px;
    width: 50px;
    position: relative;
    top: 18px;
    right: 22px;
    border-radius: 50%;
}
.banner .link a{
    text-decoration: none;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 15px 25px;
    color: rgb(58, 57, 57);
    font-weight: bolder;
}
.banner .link a:first-child{
    background-color: #5284ed;
    color: white;
    border: none;
}
.banner .link a:hover.email{
    border-color: black;
    transition: border-color 1s;
}
.for-working{
    justify-content: center;
    margin-bottom: 80px;
    /* border: 2px solid tomato; */
}
.working{
    /* border: 2px solid blue; */
    height: 600px;
    width: 80%;
    justify-content: center;
}
.working .work-image{
    /* border: 2px solid #fd3a5c; */
    box-shadow: 5px 5px 20px;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.work-image:hover{
    transform: translateY(-10px);
    transition: transform 1s;
}
.work-image:hover img{
    transform: scale(2);
    transition: transform 2s ease-in-out;
}
.working .work-image img{
    width: 50%;
}
.working .list-item{
    /* border: 2px solid green; */
    margin-left: 35px;
    width: 30%;
}
.list-item{

}
.item{

}
.item h2{
    margin-left: 16px;
}
.item div{

}
.item h4{
    font-weight: bolder;
    color: gray;
    margin-left: 20px;
}
.item ul{
    list-style-type: none;
    margin-left: -20px;
}
.item ul li{
    margin-bottom: 25px;
}
.item li:hover{
    transform: scale(1.1);
    transition: transform 1s;
}
.item li:hover a{
    color: #fd3a5c;
    transition: color 1s;
}
.item ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 1em;
}
.behave{
    /* border: 1px solid red; */
}
.feedback{
    /* border: 1px solid green; */
}
.final{
    margin-left: 15px;
}
.final p{
    font-size: .8em;
}
.final .final-1{
    margin-bottom: 21px;
    /* border: 2px solid red; */
}
.final .final-2{
    /* border: 2px solid blue; */
}
.company{
    /* border: 2px solid green; */
    height: 160px;
    justify-content: center;
    margin-bottom: 100px;
}
.company-name{
    /* width: 80%; */
    /* justify-content: center; */
    /* border: 2px solid tomato; */
}
.company h3{
    justify-content: center;
    font-weight: bold;
    font-size: 1.3em;
    color: gray;
}
.items{
    /* border: 2px solid blue; */
    justify-content: center;
}
.items .item-image{
    /* border: 2px solid black; */
    width: 80%;
    /* justify-content: center; */
}
.items .item-image img{
    height: 30px;
}
.brand-part{
    justify-content: center;
    /* border: 2px solid blue; */
    margin-bottom: 100px;
}
.brand{
    border: 2px solid red;
    justify-content: space-between;
    margin-bottom: 100px;
    height: 220px;
    width: 80%;
}
.brand .heading{
    /* border: 2px solid green; */
    /* width: 50%; */
    flex-direction: column;
    justify-content: flex-end;

}
.brand .pic{
    /* border: 2px solid blue; */
    /* width: 50%; */
}
.brand .pic .image{
    /* border: 2px solid tomato; */
    margin-right: 70px;
    width: 50%;
}
.brand .pic .image img{
    height: 160px;
}
.brand .pic .image p{
    font-size: .9em;
    margin-left: 14px;
    border-bottom: 1px solid red;
}
.brand .pic .image p a{
    text-decoration: none;
    color: black;
}
.extra{
    width: 80%;
}
.extra i{
    margin-left: 18px;
    color: red;
}
.main-add{
    /* border: 2px solid blue; */
    justify-content: center;
    margin-bottom: 100px;
}
.add{
    /* border: 2px solid red; */
    width: 85%;
}
.add .add-image{
    width: 26%;
    margin-left: 20px;
    box-shadow: 5px 5px 8px #888888;
    border: 1px solid gray;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.img-1, .img-2, .img-3{
    width: 85%;
    border: 10px;
    margin-top: 15px;
    border: 1px solid tomato;
}
.add .add-image .inner{
    margin-left: 10px;
}
.add .side{
    width: 22%;
    margin-left: 20px;
    border: 2px solid tomato;
}

